.carte {
display: flex;
   background-color: pink;
    margin: auto;
    border: 1px solid;
    width: 70%;
    height: auto;
    border-radius: 10px
}

.image {

    width: 50%;
    border-radius: 50%;
}

.detail {
    margin: auto;
  
}